[tool.poetry]
name = "med-assist-backend"
version = "0.1.0"
description = "The backend for the Med-Assist application."
authors = ["Jonathan Perron <jonathan@perron.bzh>"]
license = "Apache 2.0"
readme = "README.md"
packages = [{include = "app"}]

[tool.poetry.dependencies]
python = ">=3.12, <3.15"
fastapi = {version = "0.120.4", extras = ["standard"]}
uvicorn = {version = "0.38.0", extras = ["standard"]}
PyMuPDF = ">=1.23.0"
python-docx = ">=0.8.11"
redis = {version = "7.0.1", extras = ["async"]}
pydantic-settings = "^2.11.0"
transformers = "^4.57.1"
torch = "^2.9.0"
protobuf = "^6.33.0"
sentencepiece = "^0.2.1"

[tool.poetry.group.dev.dependencies]
pytest = ">=8.4.2"
pytest-asyncio = ">=1.2.0"
pre-commit = ">=4.3.0"
ruff = ">=0.14.3"
mypy = ">=1.18.2"
pylint = ">=4.0.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
